<h1 class="page-header">文章管理</h1>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <%=title%>
        <div class="btn-group" style=" margin-left: 77%;">
            <button type="button" class="btn btn-default" id="allArticle">全部文章</button>
            <button type="button" class="btn btn-default" id="publishArticle">已经发布</button>
            <button type="button" class="btn btn-default" id="waitArticle">等待发布</button>
        </div>
    </div>

    <!-- Table -->
    <table class="table syl-table">
        <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>状态</th>
                <th>评论</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <% articleListLen = articleList.length %>
        <% for(var i=0;i<articleListLen;i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= articleList[i].title %></td>
                <td><%= articleList[i].hidden?"未发布":"已发布" %></td>
                <td><%= articleList[i].contentUrl %></td>
                <td class="delParent">
                    <ul>
                        <a href="/admin/article/new/<%=articleList[i]._id%>" class="btn btn-info" id="editBth">编辑</a>
                        <!-- Button trigger modal -->
                        <button type="button"  class="btn btn-primary">
                            分类
                        </button>
                        <div class="modal sylBar" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close closeBar" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <% categoryListLen=categoryList.length %>
                                            <% for(var j=0;j<categoryListLen;j++){%>
                                            <li>
                                                <a href="#">
                                                    <% if(articleList[i].category && -1!=articleList[i].category.indexOf(categoryList[j].id) ){ %>
                                                    <input type="checkbox" id="<%=categoryList[j].id %>" checked>
                                                    <%}else{%>
                                                    <input type="checkbox" id="<%=categoryList[j].id %>" >
                                                    <%}%>
                                                    &nbsp; <%=categoryList[j].name%>
                                                </a>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default closeBar" data-dismiss="modal">Close</button>
                                        <button type="button" data="<%=articleList[i]._id%>" class="btn btn-primary saveCategoryBtn">Save changes</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <li class="btn btn-success" id="topCategory">置顶</li>
                        <li class="btn btn-danger delArticle" data="<%=articleList[i]._id%>">删除</li>
                        <a href="/admin/article/detail/<%=articleList[i]._id%>"   class="btn btn-info">查看文章</a>
                    </ul>
                </td>

            </tr>
        <%}%>
        </tbody>

    </table>
</div>
<script>
    (function(){
        $(".delParent").click(function(){
            var ev = ev || window.event;
            var target = ev.target || ev.srcElement;
            if($(target).attr("type")=="button"){
                $(target).siblings("div").show();
                return ;
            }
            if(!$(target).attr("data"))  return ;
            if(confirm("确定删除吗")){
                $.get("/admin/article/del",
                    {_id:$(target).attr("data")},
                    function(res){
                        if(-1==res){
                            alert("服务器错误");
                        } else if(0==res){
                            alert("这个数据不存在");
                        } else if(1==res){
                            $(target).parent().parent().parent().remove();
                            alert("删除成功");
                        }
                    }
                )
            }
        });
        $(".closeBar").click(function(){
            $(".sylBar").hide();
        });
        $(".sylBar").click(function(){
            var ev = ev || window.event;
            var target = ev.target || ev.srcElement;
            if(!$(target).attr("data"))  return ;
            var categoryStr = "",
                unCategoryStr = "";
            var checkbox = $(target).parent().parent().children().children("ul").find("input[type=checkbox]"),
                checkboxLen = checkbox.length;
            for(var i=0;i<checkboxLen;i++){
                if(checkbox.eq(i).is(":checked"))
                    categoryStr+=checkbox.eq(i).attr("id")+",";
                else
                    unCategoryStr+=checkbox.eq(i).attr("id")+","
            }
            if(categoryStr[categoryStr.length-1]==","){
                categoryStr = categoryStr.slice(0,categoryStr.length-1)
            }
            if(unCategoryStr[unCategoryStr.length-1]==","){
                unCategoryStr = unCategoryStr.slice(0,unCategoryStr.length-1)
            }
            $.get("/admin/category/save?category="+categoryStr+"&aid="+$(target).attr("data")+"&unCategoryStr="+unCategoryStr
                    ,function(res){
                    $(".sylBar").hide();
                    if(1!=res){
                        alert("保存失败，请联系管理员");
                    }
                })
        });
        $("#allArticle").click(function(){
            $.get("/admin/article/show",function(res){
                location.href = "/admin/article/show";
            })
        });
        $("#publishArticle").click(function(){
            $.get("/admin/article/show?hidden=false",function(res){
                location.href = "/admin/article/show?hidden=false";
            })
        });
        $("#waitArticle").click(function(){
            $.get("/admin/article/show?hidden=true",function(res){
                location.href = "/admin/article/show?hidden=true";
            })
        });
    })()
</script>
