<h1 class="page-header"> 新建文章</h1>
<input type="text" placeholder="请输入文章标题" id="newArticleTitle"  value="<%=article.title%>">
<!--<input type="button" class="newArticleBtn" value="发表">-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg newArticleBtn" data-toggle="modal" data-target="#myModal">
    <%=saveBtn%>
</button>
<input type="hidden" value="<%=article._id%>" id="article_id">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <h4>选择分类</h4>
                <input type="text" class="form-control" placeholder="新增分类,请用英文逗号分割" id="newCategory">
                <div class="btn-group" style="margin: 15px 0;">
                    <button type="button" class="btn btn-default dropdown-toggle" id="showCategoryBtn">
                        点击查看分类
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="showCategory">
                        <% categoryListLen=categoryList.length %>
                        <% for(var i=0;i<categoryListLen;i++){%>
                        <li>
                            <a href="#">
                                <% if(article.category && -1!=article.category.indexOf(categoryList[i].id) ){ %>
                                    <input type="checkbox" id="<%=categoryList[i].id %>" checked>
                                <%}else{%>
                                    <input type="checkbox" id="<%=categoryList[i].id %>" >
                                <%}%>
                                &nbsp; <%=categoryList[i].name%>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <textarea type="text" class="form-control" placeholder="请输入摘要" id="newArticleDesc"><%=article.desc%></textarea>
                &nbsp;&nbsp;
                <div contentEditable="true" class="form-control" id="articleKeyWord">
                    <%if(article.keyword){%>
                        <%=article.keyword.join(",")%>
                    <%}%>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitNewArticle">确认<%=saveBtn%></button>
            </div>
        </div>
    </div>
</div>
<input type="button" class="newArticleBtn" id="waitNewArticle" value="存入草稿">

<div class="MDLeft">
    <textarea id="text-input" placeholder="正文" oninput="this.editor.update()"><%=article.content%></textarea>
</div>
<div id="divMarkDownHtml" class="MDRight">
    <div id="preview"></div>
</div>
<script type="text/javascript">
    var renderer_zai30 = new marked.Renderer();
    marked.setOptions({
        renderer: renderer_zai30,
        gfm: true,
        tables: true,
        breaks: true,//回车换成br
        pedantic: false,
        sanitize: true,
        smartLists: true,
        smartypants: false
    });

    //
    function Editor(input, preview) {
        this.update = function () {
            //marked(input.value); 解析Markdown为HTML
            preview.innerHTML = marked(input.value);
        };
        input.editor = this;
        this.update();
    }
    var $markdown = function (id) {
        return document.getElementById(id);
    };
    new Editor($markdown("text-input"), $markdown("preview"));
</script>
<script>
    (function () {
        var textInput = $("#text-input"),
            submitNewArticle = $("#submitNewArticle"),
            waitNewArticle = $("#waitNewArticle"),
            articleKeyWord = $("#articleKeyWord"),
            newArticleDesc = $("#newArticleDesc"),
            newArticleTitle = $("#newArticleTitle"),
            showCategoryBtn = $("#showCategoryBtn"),
            newCategory = $("#newCategory"),
            showCategory  = $("#showCategory"),
            article_id = $("#article_id");

        function doSubmit(res) {
            var checkbox = $("input[type='checkbox']"),
                categoryLen = checkbox.length,
                categoryStr  = "",
                unCategoryStr = "";
            for(var i=0;i<categoryLen;i++){
                if( checkbox.eq(i).is(":checked") ){
                    categoryStr+=checkbox.eq(i).attr("id")+",";
                    continue;
                }
                unCategoryStr+=checkbox.eq(i).attr("id")+",";
            }
            if(categoryStr[categoryStr.length-1]==","){
                categoryStr.slice(0,categoryStr.length-1)
            }
            if(unCategoryStr[unCategoryStr.length-1]==","){
                unCategoryStr.slice(0,unCategoryStr.length-1)
            }
            $.ajax({
                type: "post",
                url: "/doNewArticle",
                data: {
                    "_id":article_id.val()?article_id.val():"",
                    "title": newArticleTitle.val(),
                    "content": textInput.val(),
                    "desc": newArticleDesc.val(),
                    "hidden": ($(res.target).attr("id") == "waitNewArticle") ? true : false,
                    keyword: articleKeyWord.html(),
                    newCategory : newCategory.val(),
                    "category":categoryStr,
                    unCategory:unCategoryStr
                },
                success: function (res) {
                    if (1 == res) {
                        alert("发布成功点击\n点击跳转到文章展示");
                        window.location = "/admin/article/show";
                        return;
                    }
                    alert("服务器错误，请重新尝试");
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        waitNewArticle.click(doSubmit);
        submitNewArticle.click(doSubmit)
        var flag = true;
        showCategoryBtn.click(function(){
            flag = !flag;
            if(!flag) showCategory.show();
            else showCategory.hide();
        });

    })()
</script>
