<h1 class="page-header">文章回收站</h1>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>

    <!-- Table -->
    <table class="table syl-table">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>分类名称</th>
            <th>文章总数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%var listTot = list.length%>
        <% for(var i=0;i<listTot;i++){%>
        <tr>
            <td><%=i%></td>
            <td><%=list[i].id%></td>
            <td><%=list[i].title%></td>
            <td><%=list[i].category.length%></td>
            <td class="delParent">
                <button type="button" data="<%=list[i]._id%>"  class="btn btn-danger delCategory">重新发布</button>
                <a href="/admin/article/detail/<%=list[i]._id%>" type="button"  class="btn btn-info">查看文章</a>
            </td>
        </tr>
        <%}%>

        </tbody>
    </table>
</div>

